<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" 
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>

<body>
    <div class="container">
                <h1>Todo Liste</h1>
                <table class="table">
                        <tr>
                            <td>Task</td>
                            <td>Deadline</td>
                            <td>Progress</td>
                            <td></td>
                        </tr>
                    <tbody>
                        {% for listEntry in todos_table %}
                        <tr> 
                            <td>{{listEntry.task}}</td>
                            <td>{{listEntry.deadline}}</td>
                            <td>{{listEntry.progress}}</td>
                            <td>
                                <a href="{% url 'edit_listEntry' listEntry.id %}" class="btn btn-primary" role="button">Bearbeiten</a>
                                <a href="{% url 'edit_listEntry' listEntry.id %}" class="btn btn-danger" role="button">Löschen</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
    </div>
   

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" 
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" 
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" 
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" 
        crossorigin="anonymous"></script>
    
</body>
</html>

